# tinyproxy configuration
User tinyproxy
Group tinyproxy

Port {{ proxy_port }}
Timeout 180
DefaultErrorFile "/usr/share/tinyproxy/default.html"
StatFile "/usr/share/tinyproxy/stats.html"
Logfile "/var/log/tinyproxy/tinyproxy.log"
LogLevel Info
PidFile "/var/run/tinyproxy/tinyproxy.pid"
MaxClients 500
StartServers 10
ConnectPort 443
ConnectPort 80

Allow {{ proxy_range }}
