security.protocol=SSL
ssl.protocol={{ ssl_protocol }}
ssl.debug=true
listeners=https://0.0.0.0:8083
rest.advertised.listeners=https://{{ inventory_hostname }}:8083
ssl.truststore.location={{ssl_truststore_location}}
ssl.truststore.password={{ssl_truststore_password}}
ssl.truststore.type={{ssl_truststore_type}}
producer.ssl.truststore.location={{producer_ssl_truststore_location}}
producer.ssl.truststore.password={{producer_ssl_truststore_password}}
consumer.ssl.truststore.location={{consumer_ssl_truststore_location}}
consumer.ssl.truststore.password={{consumer_ssl_truststore_password}}
admin.ssl.truststore.location={{admin_ssl_truststore_location}}
admin.ssl.truststore.password={{admin_ssl_truststore_password}}
ssl.keystore.location={{ssl_keystore_location}}
ssl.keystore.password={{ssl_keystore_password}}
ssl.keystore.type={{ssl_keystore_type}}
producer.ssl.keystore.location={{producer_ssl_keystore_location}}
producer.ssl.keystore.password={{producer_ssl_keystore_password}}
producer.ssl.keystore.type={{producer_ssl_keystore_type}}
consumer.ssl.keystore.location={{consumer_ssl_keystore_location}}
consumer.ssl.keystore.password={{consumer_ssl_keystore_password}}
consumer.ssl.keystore.type={{consumer_ssl_keystore_type}}
admin.ssl.keystore.location={{admin_ssl_keystore_location}}
admin.ssl.keystore.password={{admin_ssl_keystore_password}}
admin.ssl.keystore.type={{admin_ssl_keystore_type}}
