[Unit]
Description=Redpanda's distribution of Apache Kafka Connect in distributed mode
Documentation=https://docs.redpanda.com/
After=network.target

[Service]
Type=simple
User={{ redpanda_user }}
Group={{ redpanda_group }}
TimeoutStartSec={{ timeout_start_sec }}
Environment="CONNECT_PLUGIN_PATH={{ redpanda_connect_home }}/plugins"
{% if kafka_log4j_opts is defined and kafka_log4j_opts != "" %}
Environment="KAFKA_LOG4J_OPTS={{ kafka_log4j_opts }}"
{% endif %}
{% if kafka_opts is defined and kafka_opts != "" %}
Environment="KAFKA_OPTS={{ kafka_opts }}{% if jmx_ssl is defined and jmx_ssl != false -%} \
    -Djavax.net.ssl.keyStore={{ jmx_keystore_path }} \
    -Djavax.net.ssl.keyStorePassword={{ jmx_keystore_password }} \
    -Djavax.net.ssl.trustStore={{ jmx_truststore_path }} \
    -Djavax.net.ssl.trustStorePassword={{ jmx_truststore_password }}{% endif -%}
{%- if jmx_additional_opts is defined and jmx_additional_opts != "" %} {{ jmx_additional_opts }}{% endif %}"
{% endif %}

ExecStart={{ redpanda_connect_home }}/bin/connect-distributed.sh {{ redpanda_connect_config_dir }}/{{ connect_distributed_config_file }}
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
