---
- name: Set Redpanda GPG Key and Repository details
  set_fact:
    rp_key_deb_actual: "{{ is_using_unstable | bool | ternary(rp_key_deb_unstable, rp_key_deb) }}"
    rp_key_path_deb_actual: "{{ is_using_unstable | bool | ternary(rp_key_path_deb_unstable, rp_key_path_deb) }}"
    rp_repo_signing_deb_actual: "{{ is_using_unstable | bool | ternary(rp_repo_signing_deb_unstable, rp_repo_signing_deb) }}"
    rp_repo_signing_src_deb_actual: "{{ is_using_unstable | bool | ternary(rp_repo_signing_src_deb_unstable, rp_repo_signing_src_deb) }}"
  when: ansible_os_family == 'Debian'

- name: Download and import Redpanda GPG Key
  shell: |
    curl -1sLf "{{ rp_key_deb_actual }}" | gpg --dearmor > "{{ rp_key_path_deb_actual }}"
  when: ansible_os_family == 'Debian'

- name: Add Redpanda DEB repository
  apt_repository:
    filename: "redpanda-redpanda"
    mode: 0644
    repo: "{{ rp_repo_signing_deb_actual }}"
    update_cache: yes
  when: ansible_os_family == 'Debian'

- name: Add Redpanda DEB repository (source)
  apt_repository:
    filename: "redpanda-redpanda-src"
    mode: 0644
    repo: "{{ rp_repo_signing_src_deb_actual }}"
    update_cache: yes
  when: ansible_os_family == 'Debian'

- name: Set Redpanda RPM and GPG Key details
  set_fact:
    rp_key_rpm_actual: "{{ is_using_unstable | bool | ternary(rp_key_rpm_unstable, rp_key_rpm) }}"
    rp_standard_rpm_actual: "{{ is_using_unstable | bool | ternary(rp_standard_rpm_unstable, rp_standard_rpm) }}"
    rp_noarch_rpm_actual: "{{ is_using_unstable | bool | ternary(rp_noarch_rpm_unstable, rp_noarch_rpm) }}"
    rp_source_rpm_actual: "{{ is_using_unstable | bool | ternary(rp_source_rpm_unstable, rp_source_rpm) }}"
    repo_name_prefix: "{{ is_using_unstable | bool | ternary('redpanda-redpanda-unstable', 'redpanda-redpanda') }}"
  when: ansible_os_family == 'RedHat'

- name: Add redpanda-redpanda RPM repository
  ansible.builtin.yum_repository:
    name: "{{ repo_name_prefix }}"
    description: "{{ repo_name_prefix }}"
    baseurl: "{{ rp_standard_rpm_actual }}"
    gpgkey: "{{ rp_key_rpm_actual }}"
    repo_gpgcheck: yes
    gpgcheck: yes
    enabled: yes
    sslcacert: '/etc/pki/tls/certs/ca-bundle.crt'
    sslverify: yes
    metadata_expire: 300
    skip_if_unavailable: yes
  when: ansible_os_family == 'RedHat'

- name: Add redpanda-redpanda-noarch RPM repository
  ansible.builtin.yum_repository:
    name: "{{ repo_name_prefix }}-noarch"
    description: "{{ repo_name_prefix }}-noarch"
    baseurl: "{{ rp_noarch_rpm_actual }}"
    gpgkey: "{{ rp_key_rpm_actual }}"
    repo_gpgcheck: yes
    gpgcheck: yes
    enabled: yes
    sslcacert: '/etc/pki/tls/certs/ca-bundle.crt'
    sslverify: yes
    metadata_expire: 300
    skip_if_unavailable: yes
  when: ansible_os_family == 'RedHat'

- name: Add redpanda-redpanda-source RPM repository
  ansible.builtin.yum_repository:
    name: "{{ repo_name_prefix }}-source"
    description: "{{ repo_name_prefix }}-source"
    baseurl: "{{ rp_source_rpm_actual }}"
    gpgkey: "{{ rp_key_rpm_actual }}"
    repo_gpgcheck: yes
    gpgcheck: yes
    enabled: yes
    sslcacert: '/etc/pki/tls/certs/ca-bundle.crt'
    sslverify: yes
    metadata_expire: 300
    skip_if_unavailable: yes
  when: ansible_os_family == 'RedHat'

- name: Install GPG key (RPM)
  ansible.builtin.rpm_key:
    state: present
    key: "{{ rp_key_rpm_actual }}"
  when: ansible_os_family == 'RedHat'

- name: Set fact for package name
  set_fact:
    redpanda_package_name: "redpanda{{ '' if redpanda_version=='latest' else ('=' if ansible_os_family == 'Debian' else '-') + redpanda_version }}"

- name: Install redpanda from repository
  ansible.builtin.package:
    name:
      - "{{ redpanda_package_name }}"
    state: "{{ redpanda_install_status }}"
    update_cache: true
  register: package_result


- name: Set data dir file perms
  ansible.builtin.file:
    path: "{{ redpanda_data_directory }}"
    owner: redpanda
    group: redpanda
