{
  "kafka": {
    "schemaRegistry": {
      "enabled": true,
      "urls": [
        {% if enable_tls | default(false) %}
        {% for host in advertised_ips %}
        "https://{{ host }}:{{ redpanda_schema_registry_port }}"{% if not loop.last %},{% endif %}
        {% endfor %}
        {% else  %}
        {% for host in advertised_ips %}
        "http://{{ host }}:{{ redpanda_schema_registry_port }}"{% if not loop.last %},{% endif %}
        {% endfor %}
        {% endif %}
      ]{% if enable_tls | default(false) %},
      "tls": {
        "enabled": true,
        "caFilepath": "{{ redpanda_truststore_file }}",
        "certFilepath": "{{ redpanda_cert_file }}",
        "keyFilepath": "{{ redpanda_key_file }}",
        "insecureSkipTlsVerify": false
      }
      {% endif %}
    },
    "protobuf": {
      "enabled": true,
      "schemaRegistry": {
        "enabled": true,
        "refreshInterval": "5m"
      }
    },
    "brokers": [
      {% for host in advertised_ips %}
      "{{ host }}:{{ redpanda_kafka_port }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]{% if enable_tls | default(false) %},
  "tls": {
    "enabled": true,
    "caFilepath": "{{ redpanda_truststore_file }}",
    "certFilepath": "{{ redpanda_cert_file }}",
    "keyFilepath": "{{ redpanda_key_file }}",
    "insecureSkipTlsVerify": false
  }
  {% endif %}
  },
  "redpanda": {
    "adminApi": {
      "enabled": true,
      "urls": [
        {% if enable_tls | default(false) %}
        {% for host in advertised_ips %}
        "https://{{ host }}:{{ redpanda_admin_api_port }}"{% if not loop.last %},{% endif %}
        {% endfor %}
        {% else  %}
        {% for host in advertised_ips %}
        "http://{{ host }}:{{ redpanda_admin_api_port }}"{% if not loop.last %},{% endif %}
        {% endfor %}
        {% endif %}
      ]{% if enable_tls | default(false) %},
      "tls": {
        "enabled": true,
        "caFilepath": "{{ redpanda_truststore_file }}",
        "certFilepath": "{{ redpanda_cert_file }}",
        "keyFilepath": "{{ redpanda_key_file }}",
        "insecureSkipTlsVerify": false
      }
      {% endif %}
    }
  }{% if enable_tls | default(false) %},
  "server": {
    "listenPort": 8080,
    "httpsListenPort": 8081,
    "tls": {
      "enabled": true,
      "certFilepath": "{{ console_cert_file }}",
      "keyFilepath": "{{ console_key_file }}",
    }
  }
  {% endif %}
}
