{
  "node": {
    "redpanda": {
      "admin_api_tls": {
        "enabled": true,
        "key_file": "{{ key_file | default('/etc/redpanda/certs/node.key') }}",
        "cert_file": "{{ cert_file | default('/etc/redpanda/certs/node.crt') }}"
      }
    }
  }
}
