{
  "cluster": {
    "rpc_server_tcp_recv_buf": 65536,
    "enable_rack_awareness": "{{ true if rack is defined and rack != -1 else false }}"
  },
  "node": {
    "organization": "{{ redpanda_organization }}",
    "cluster_id": "{{ redpanda_cluster_id }}",
    "redpanda": {
      "empty_seed_starts_cluster": false,
      "advertised_kafka_api": [
        {% if redpanda_advertised_kafka_listeners is defined %}
          {% for listener in redpanda_advertised_kafka_listeners %}
        {
          "address": "{{ listener.address }}",
          "port": {{ listener.port }},
          "name": "{{ listener.name }}"{% if kafka_enable_authorization | bool %},
          "authentication_method": "{{ listener.authentication_method | default('sasl') }}"{% endif %}
        }{% if not loop.last %},{% endif %}
          {% endfor %}
        {% elif redpanda_kafka_listeners is defined %}
          {% for listener in redpanda_kafka_listeners %}
        {
          "address": "{{ hostvars[inventory_hostname].advertised_ip }}",
          "port": {{ listener.port }},
          "name": "{{ listener.name }}"{% if kafka_enable_authorization | bool %},
          "authentication_method": "{{ listener.authentication_method | default('sasl') }}"{% endif %}
        }{% if not loop.last %},{% endif %}
          {% endfor %}
        {% else %}
        {
          "address": "{{ hostvars[inventory_hostname].advertised_ip }}",
          "port": {{ redpanda_kafka_port }},
          "name": "default"{% if kafka_enable_authorization | bool %},
          "authentication_method": "sasl"{% endif %}
        }
        {% endif %}
      ],
      "advertised_rpc_api": {
        "address": "{{ hostvars[inventory_hostname].private_ip }}",
        "port": {{ redpanda_rpc_port }}
      },
      "data_directory": "{{ redpanda_data_directory }}",
      "rpc_server": {
        "address": "{{ hostvars[inventory_hostname].private_ip }}",
        "port": {{ redpanda_rpc_port }}
      },
      "kafka_api": [
        {% if redpanda_kafka_listeners is defined %}
          {% for listener in redpanda_kafka_listeners %}
        {
          "address": "{{ listener.address }}",
          "port": {{ listener.port }},
          "name": "{{ listener.name }}"{% if kafka_enable_authorization | bool %},
          "authentication_method": "{{ listener.authentication_method | default('sasl') }}"{% endif %}
        }{% if not loop.last %},{% endif %}
          {% endfor %}
        {% else %}
        {
          "address": "{{ hostvars[inventory_hostname].private_ip }}",
          "port": {{ redpanda_kafka_port }},
          "name": "default"{% if kafka_enable_authorization | bool %},
          "authentication_method": "sasl"{% endif %}
        }
        {% endif %}
      ],
      "admin": [
        {
          "address": "{{ hostvars[inventory_hostname].private_ip }}",
          "port": {{ redpanda_admin_api_port }}
        }
      ],
      {% if rack is defined and rack != ''  %}"rack": "{{ rack | default('null') }}",{% endif %}
      "seed_servers": [
        {% for host in groups['redpanda'] %}
        {
          "host": {
            "address": "{{ hostvars[host]['private_ip'] }}",
            "port": {{ redpanda_rpc_port }}
          }
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    },
    "rpk": {
      "kafka_api": {
        "brokers": [
        {% for host in groups['redpanda'] %}
        "{{ hostvars[host]['private_ip'] }}:{{ redpanda_kafka_port }}"{% if not loop.last %},{% endif %}
        {% endfor %}
        ]
      },
      "admin_api": {
        "addresses": [
          {% for host in groups['redpanda'] %}
          "{{ hostvars[host]['private_ip'] }}:{{ redpanda_admin_api_port }}"{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      },
      "tune_network": {{ enable_tune_network | default(true) | lower }},
      "tune_disk_scheduler": {{ enable_tune_disk_scheduler | default(true) | lower }},
      "tune_disk_nomerges": {{ enable_tune_disk_nomerges | default(true) | lower }},
      "tune_disk_write_cache": {{ enable_tune_disk_write_cache | default(true) | lower }},
      "tune_disk_irq": {{ enable_tune_disk_irq | default(true) | lower }},
      "tune_cpu": {{ enable_tune_cpu | default(true) | lower }},
      "tune_aio_events": {{ enable_tune_aio_events | default(true) | lower }},
      "tune_clocksource": {{ enable_tune_clocksource | default(true) | lower }},
      "tune_swappiness": {{ enable_tune_swappiness | default(true) | lower }},
      "tune_ballast_file": {{ enable_tune_ballast_file | default(true) | lower }}
    },
    "pandaproxy": {
        "pandaproxy_api": {
          "address": "0.0.0.0",
          "port": {{ redpanda_pandaproxy_port }}{% if kafka_enable_authorization | bool and pandaproxy_authn_method != 'none' %},
          "authentication_method": "{{ pandaproxy_authn_method }}"{% endif %}
        }
    },
    "schema_registry": {
        "schema_registry_api": [
        {
          "address": "0.0.0.0",
          "port": {{ redpanda_schema_registry_port }}{% if kafka_enable_authorization | bool and schema_registry_authn_method != 'none' %},
          "authentication_method": "{{ schema_registry_authn_method }}"{% endif %}
        }
      ],
      "schema_registry_replication_factor": {{schema_registry_replication_factor | default(1)}}
    }
  }
}
