{
  "node": {
    "redpanda": {
      "fips_mode": "{{ fips_mode }}",
      "openssl_config_file": "{{ fips_openssl_config_file }}",
      "openssl_module_directory": "{{ fips_openssl_module_directory }}"
   }
 }
}
