{
  "node": {
    "redpanda": {
      "admin_api_tls": {
        "enabled": true,
        "require_client_auth": {{ require_client_auth | lower }},
        "key_file": "{{ redpanda_key_file }}",
        "cert_file": "{{ redpanda_cert_file }}",
        "truststore_file": "{{ redpanda_truststore_file }}"
      },
      "kafka_api_tls": [
        {% if redpanda_kafka_listeners is defined %}
          {% for listener in redpanda_kafka_listeners %}
        {
          "name": "{{ listener.name }}",
          "enabled": true,
          "require_client_auth": {{ require_client_auth | lower }},
          "key_file": "{{ redpanda_key_file }}",
          "cert_file": "{{ redpanda_cert_file }}",
          "truststore_file": "{{ redpanda_truststore_file }}"
        }{% if not loop.last %},{% endif %}
          {% endfor %}
        {% else %}
        {
          "name": "default",
          "enabled": true,
          "require_client_auth": {{ require_client_auth | lower }},
          "key_file": "{{ redpanda_key_file }}",
          "cert_file": "{{ redpanda_cert_file }}",
          "truststore_file": "{{ redpanda_truststore_file }}"
        }
        {% endif %}
      ],
      "rpc_server_tls": {
        "enabled": true,
        "require_client_auth": {{ require_client_auth | lower }},
        "key_file": "{{ redpanda_key_file }}",
        "cert_file": "{{ redpanda_cert_file }}",
        "truststore_file": "{{ redpanda_truststore_file }}"
      }
    },
    "rpk": {
      "tls": {
        "enabled": true,
        "ca": "{{ redpanda_truststore_file }}"
      },
      "admin_api": {
        "tls": {
          "enabled": true,
          "ca_file": "{{ redpanda_truststore_file }}",
          "truststore_file": "{{ redpanda_truststore_file }}"
        }
      },
      "kafka_api": {
        "tls": {
          "enabled": true,
          "ca_file": "{{ redpanda_truststore_file }}",
          "truststore_file": "{{ redpanda_truststore_file }}"
        }
      }
    },
    "pandaproxy":{
      "pandaproxy_api_tls": [
        {
          "enabled": true,
          "require_client_auth": {{ require_client_auth | lower }},
          "key_file": "{{ redpanda_key_file }}",
          "cert_file": "{{ redpanda_cert_file }}",
          "truststore_file": "{{ redpanda_truststore_file }}"
        }
      ]
    },
    "schema_registry":{
      "schema_registry_api_tls": [
        {
          "enabled": true,
          "require_client_auth": {{ require_client_auth | lower }},
          "key_file": "{{ redpanda_key_file }}",
          "cert_file": "{{ redpanda_cert_file }}",
          "truststore_file": "{{ redpanda_truststore_file }}"
        }
      ]
    }
  }
}
