{
  "kafka": {
    "brokers": {
        {% for host in advertised_ips %}
        "{{ host }}:{{ redpanda_kafka_port }}"{% if not loop.last %},{% endif %}
        {% endfor %}
    },
    "schemaRegistry": {
      "enabled": true,
      "urls": [
        {% for host in advertised_ips %}
        "{% if enable_tls | default(false) %}https{% else %}http{% endif %}://{{ host }}:{{ redpanda_schema_registry_port }}"{% if not loop.last %},{% endif %}
        {% endfor %}
      ]{% if enable_tls | default(false) %},
      "tls": {
        "enabled": true,
        "caFilepath": "{{ redpanda_truststore_file }}",
        "certFilepath": "{{ redpanda_cert_file }}",
        "keyFilepath": "{{ redpanda_key_file }}",
        "insecureSkipTlsVerify": false
      }
      {% endif %}
    },
    "protobuf": {
      "enabled": true,
      "schemaRegistry": {
        "enabled": true,
        "refreshInterval": "5m"
      }
    },
    "brokers": [
      {% for host in advertised_ips %}
      "{{ host }}:{{ redpanda_kafka_port }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]{% if enable_tls | default(false) %},
  "tls": {
    "enabled": true,
    "caFilepath": "{{ redpanda_truststore_file }}",
    "certFilepath": "{{ redpanda_cert_file }}",
    "keyFilepath": "{{ redpanda_key_file }}",
    "insecureSkipTlsVerify": false
  }
  {% endif %}
  },
  "redpanda": {
    "adminApi": {
      "enabled": true,
      "urls": [
        {% for host in advertised_ips %}
        "{% if enable_tls | default(false) %}https{% else %}http{% endif %}://{{ host }}:{{ redpanda_admin_api_port }}"{% if not loop.last %},{% endif %}
        {% endfor %}
      ]{% if enable_tls | default(false) %},
      "tls": {
        "enabled": true,
        "caFilepath": "{{ redpanda_truststore_file }}",
        "certFilepath": "{{ redpanda_cert_file }}",
        "keyFilepath": "{{ redpanda_key_file }}",
        "insecureSkipTlsVerify": false
      }
      {% endif %}
    }
  }{% if enable_tls | default(false) %},
  "server": {
    "listenPort": {{ http_port }},
    "httpsListenPort": {{ https_port }},
    "tls": {
      "enabled": true,
      "certFilepath": "{{ console_cert_file }}",
      "keyFilepath": "{{ console_key_file }}",
    }
  }{% endif %}{% if connect_advertised_ips is defined %},
    "connect": {
    "enabled": true,
    "clusters":
    [
      {
        "name": "Connect",
        "url": "{% if enable_tls | default(false) %}https{% else %}http{% endif %}://{{ connect_advertised_ips[0] }}:{{ redpanda_connect_port }}"
        {% if enable_tls | default(false) %},
        "tls": {
          "enabled": true,
          "caFilepath": "{{ redpanda_truststore_file }}",
          "certFilepath": "{{ redpanda_cert_file }}",
          "keyFilepath": "{{ redpanda_key_file }}",
          "insecureSkipTlsVerify": false
        }
        {% endif %}
    }]
}{% endif %}
}
